version: '3.8'

services:
  backend:
    build: .
    ports:
      - "8080:8080"
    restart: unless-stopped

  frontend:
    build: ../portfolio-frontend
    ports:
      - "80:80"
    restart: unless-stopped
